@CHARSET "UTF-8";
.user
{
	position: static;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../../icon/user.png);
}
.pasw
{
	position: static;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../../icon/pasw.png);
}
.userhead
{
	position: static;
	display: block;
	width: 40px;
	height: 40px;
	background: url(../../img/userHead/head.jpg);
}