@CHARSET "UTF-8";
body
{
  background: -webkit-linear-gradient(180deg, #3d4455, #606880); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(180deg, #3d4455, #606880); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(180deg, #3d4455, #606880); /* Firefox 3.6 - 15 */
  background: linear-gradient(to top,#3d4455, #606880) /* 标准的语法 */
}
div
{
	position: static;
	display: block;
}
.main
{
	position: absolute;
	width: 800px;
	height: 400px;
	border-radius: 10px 10px;
	background: #ebeff0;
	box-shadow: 0 0 20px #CCC;
}
.left
{
	float: left;
	width: 339px;
	height: 340px;
	margin: 30px 0 30px 30px;
	padding: 0 30px 0 0;
	border-right: 1px solid #CCC;
}
.right
{
	float: left;
	width: 339px;
	height: 340px;
	margin: 30px 30px 30px 0;
	padding: 0 0 0 30px;
}
.frame
{
	width: 100%;
	height: 100%;
	
}
.title
{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-family: -apple-system;
}
.login
{
	display: block;
	margin-top: 20px;
}
.login .tag
{
	margin-top: 20px;
	width: 100%;
	height: 30px;
}
.login .tag *
{
	position: static;
	float: left;
}
.login .tag input
{
	padding: 0 8px;
	width: 150px;
	border: 1px solid #CCC;
	height: 28px;
}
.login .tag input.err
{
	border: 1px solid #F88;
}
.login .tag input.active
{
	border: 1px solid #88F;
}
.login .tag a
{
	margin: 0 0 0 118px;
	background: #88F;
	color: #FFF;
	font-size: 12px;
	padding: 4px 0;
	width: 80px;
	line-height: 22px;
	text-align: center;
}
.login .tag a.loading
{
	background: #BBB;
}
.login .tag a.success
{
	background: #C1B100;
}
.login .tag label
{
	line-height: 30px;
	font-size: 12px;
	text-indent: 10px;
	color: #F00;
}



